body {
  background: #14181c url(../images/content-bg.png) 0 -1px repeat-x;
}

.App {
  font-family: 'HankenGroteskRegular';
  font-weight: normal;
  font-style: normal;
}

.App-header {
  text-align: center;
  display: block;
  font-size: 1.5em;
  color: #eff1f3;
  background: #14181c;
  font-weight: 900;
  padding: 0.8rem 0;
}

.App-logo {
  height: 50px;
}

.App-body {
  height: 100vh;
  color: #eff1f3;
  padding: 1rem;
  justify-content: center;
  text-align: left;
}

.App-body-wrapper {
  width: 50vw;
}

.center {
  text-align: center;
  justify-content: center;
}

.w30 {
  width: 30vw;
}

.w15 {
  width: 15vw;
}

.poster-list {
  display: block;
}

.poster-container {
  justify-content: center;
  width: 100%;
}

.poster .image {
  width: 100%;
  display: block;
  border-radius: 4px;
}

.poster .frame {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
  text-indent: 110%;
  overflow: hidden;
  transition: -webkit-box-shadow .1s ease-in;
  -webkit-transition: -webkit-box-shadow .1s ease-in;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px rgba(221, 238, 255, .35);
  background-image: -moz-linear-gradient(left center, hsla(0, 0%, 100%, 0) 1%, hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 100%, 0) 100%);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 100% 1px;
  border-radius: 4px;
}

.attribution-block {
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 5px;
  background: #456;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  white-space: nowrap;
}

.overlay {
  display: block;
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  transition: border .1s linear;
  border: 1px solid #00e054;
  border-radius: 3px;
}

.field,
.textarea,
.tt-hint {
  padding: 9px 9px 8px;
  margin: 0;
  border: none;
  background-color: #2c3440;
  color: #89a;
  box-shadow: inset 0 -1px 0 #456;
  font-size: 1.07692308rem;
  line-height: 1;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
}

.avatar {
  /* display: block; */
  position: relative;
  margin-right: 5px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

.avatar.-a110,
.avatar.-a110 a,
.avatar.-a110 img,
.avatar.-a110:after {
  border-radius: 55px;
  width: 110px;
  height: 110px;
}

.avatar.-a144,
.avatar.-a144 a,
.avatar.-a144 img,
.avatar.-a144:after {
  border-radius: 55px;
  width: 144px;
  height: 144px;
}

.clearfix {
  clear: both;
}

.section {
  display: block;
  position: relative;
  padding: 0 0 2.30769231rem;
}

.section-heading {
  font-weight: 400;
  font-size: 1rem;
  color: #9ab;
  text-transform: uppercase;
  letter-spacing: .075em;
  margin-top: 0;
  margin-bottom: .76923077rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #456;
}

.profile-summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-avatar {
  flex: 0 0 auto;
  margin-right: 15px;
}

.profile-person-info {
  flex: 1 1 auto;
}

ol,
ul {
  list-style: none;
}

.stats {
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.profile-summary>.stats li {
  float: left;
  border-left: 1px solid #24303c;
  font-size: .84615385rem;
  line-height: 1;
}

.profile-summary>.stats li>.stat {
  display: block;
  padding: .38461538rem .76923077rem;
  color: #678;
}

.profile-summary>.stats li>.stat :hover {
  text-decoration: none;
}

.profile-summary>.stats li>.stat strong {
    color: #9ab;
    /* font-family: Graphik-Light-Web,sans-serif; */
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: .03846154em;
    display: block;
    margin-bottom: .38461538rem;
}

a {
  text-decoration: none;
}

.profile-summary .title-1 {
    margin: 0 .38461538rem 0 0;
    /* font-family: Graphik-Semibold-Web,sans-serif; */
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    max-width: 450px;
    padding: 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* -moz-binding: url(../js/ellipsis.xml#ellipsis); */
}

.loading {
  height: 10px;
  width: 100vw;
  display: block;
}

ul.person-metadata {
    padding-inline-start: 3px;
}

.profile-summary .profile-person-info .person-metadata li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.23076923;
    margin: .30769231rem 0rem .30769231rem 0;
}

.poster-viewingdata {
    font-size: .92307692rem;
    /* text-align: center; */
    padding-top: 3px;
    clear: both;
    color: #567;
    overflow: hidden;
    margin-bottom: 0;
    line-height: 16px;
}